a {
    text-decoration: none;
  }

  p,
  h2 {
    color: var(--primary);
  }

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items:end;
    margin-top: 5%;
  }

  .photo-slider {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .photo-thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-left: 30px;
    width: 30%;
    height: 100%;
  }
  .photo-thumbnails > img {
    cursor: pointer;
    box-sizing: border-box;
    width: 85%;
    height: auto;
    margin-top: 10px;
  }

  .photo-thumbnails :hover {
    border: 3px solid var(--primary);
  }

  .photo-main{
    flex-grow: 1; 
    height: 100%;
    width: 70%;
  }
  .photo-main > img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .product {
    margin-right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .right-column, .left-column{
    width: 100% !important;
  }
  .right-column{
    height: 80%;
  }
  .rating {
    width: 200px;
    height: 40px;
  }

  .star {
    height: 100%;
    font-size: 30px;
    width: calc(100% / 5);
  }
  .product-info {
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--primary);
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .product-info-text {
    margin-left: 10px;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .product-condition {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .star2 {
    color: #f1d0d2;
    font-size: 20px;
  }

  .product-price {
    display: flex;
    flex-direction: column;
  }

  .sample {
    display: flex;
    align-items: center;
  }

  .sample > img {
    margin-left: 10px;
    width: 20px;
    height: auto;
    cursor: pointer;
    padding-bottom: 3px;
  }

  .seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .seller-info {
    display: flex;
    align-items: center;
  }

  .seller-picture {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .seller-details {
    display: block;
    align-items: center;
    text-align: left;
    margin: auto;
    margin-left: 20px;
  }

  .seller-name {
    font-weight: bold;
    color: white !important;
  }

  .seller-location {
    color: white !important;
  }

  .buy-button {
    color: var(--primary);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 57px;
    background-color: var(--secondary);
  }

  .buy-button :hover {
    border: 3px solid var(--primary);
  }
  @media (max-width: 1290px) {
    .row{
      margin-top: 0;
    }
  }
  @media (max-width: 1090px) {
  .photo-slider {
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    left: 50px;
  }

  .photo-thumbnails {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-bottom: 5px;
    height: 100%;
  }
  .photo-thumbnails > img {
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 10px;
    height: auto;
  }

  .photo-thumbnails :hover {
    border: 3px solid var(--primary);
  }

  .photo-main{
    height: 100%;
    width: 82%;
  }
  .photo-main > img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
  }