@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
/*
Font Usage: 
    font-family: 'Open Sans', sans-serif;
*/
:root {
  --primary: #444142;
  --secondary: #f1d0d2;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/*Typography*/
body,html{
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  height: 100%;
}
.oflw {
  overflow-y: hidden;
}
h1,
p,
a {
  color: var(--primary) !important;
  text-decoration: none !important;
}
p,
a {
  font-size: 16px !important;
}
i {
  font-size: 25px !important;
}
/*----*/

header {
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 9998 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  background: transparent !important;
  padding: 20px 0 !important;
  transition: all 0.5s ease !important;
}
.logo {
  display: flex !important;
  align-items: center !important;
  width: 120px !important;
  margin-left: 50px !important;
}
.navbar {
  display: flex !important;
  position: absolute !important;
  /*margin-left: 15%;*/
  left: 200px !important;
}
.navbar a {
  margin: 0px 20px !important;
  transition: all 0.5s ease !important;
  padding: 0px 5px !important;
  border-radius: 60px !important;
  transition: all 0.3s ease !important;
  padding-bottom: 3px !important;
  display: inline-block !important;
  position: relative !important;
}
.navbar a::before {
  content: "" !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  height: 2px !important;
  background-color: var(--primary) !important;
  transition: width 0.25s ease-out !important;
}
.navbar a:hover::before {
  width: 100% !important;
  left: 0 !important;
  right: auto !important;
}
.navbar a.active::before {
  width: 100% !important;
}
.navbar .resp {
  display: none !important;
}
.main {
  display: flex !important;
  align-items: center !important;
}
.main a {
  margin-right: 15px !important;
  margin-left: 10px !important;
  transition: all 0.5s ease !important;
}
.search,
.shop,
.user,
#menu-icon {
  display: flex !important;
  align-items: center !important;
}
.search i,
.shop i,
.user i,
#menu-icon {
  margin-right: 20px !important;
}
a.btn1 {
  text-align: center !important;
  background-color: var(--secondary) !important;
  padding: 6px 30px !important;
  border-radius: 8px !important;
  font-weight: bold !important;
  border: 5px solid var(--secondary) !important;
}
a.btn1:hover {
  background-color: transparent !important;
  transition: background-color 0.15s linear !important;
}
#menu-icon {
  cursor: pointer !important;
  z-index: 1000 !important;
  display: none !important;
}

.sticky {
  background-color: var(--white) !important;
  transition: all 0.2s ease !important;
}

/**/


/*Footer*/
.footer{
  padding: 30px 0 !important;
  background-color: var(--primary) !important;
}
.footer .social{
    text-align: center !important;
    padding-bottom: 15px !important;
    color: var(--white) !important;
}
.footer .social a{
  font-size: 24px !important;
  color: inherit !important;
  line-height: 38px !important;
  display: inline-block !important;
  text-align: center !important;
  border-radius: 50% !important;
  margin: 0 8px !important;
  padding: 2px 8px !important;
}
.footer .social a:hover, .footer-nav:hover{
  color: var(--secondary) !important;
  transition: all .15s ease !important;
}
.footer ul{
  margin-top: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  font-size: 18px !important;
  line-height: 1.6 !important;
  margin-bottom: 0 !important;
  text-align: center !important;
}
.footer ul li a{
  color: inherit !important;
  text-decoration: none !important;
  color: var(--white) !important;
}
.footer ul li{
  display: inline-block !important;
  padding: 0 15px !important;
}
.footer ul li a:hover{
  opacity: 1 !important;
}
.footer .copyright{
  margin-top: 25px !important;
  text-align: center !important;
  font-size: 13px !important;
  color: var(--white) !important;
  opacity: 0.75 !important;
}
.footer .copyright i{
  font-size: 13px !important;
}
.footer ul .btn1{
  background-color: transparent !important;
}
.footer ul .btn1:hover{
  background-color: var(--secondary) !important;
}
/**/

/*Começo*/
.toggle {
  position: relative;
  background-image: url(../../assets/img/spinning_record.gif);
  background-size: 1920px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
}

.giro,
.motto {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 57px;
  text-shadow: 2px 3px 4px black;
  transition: all 0.5s linear;
}

.motto {
  top: 15%;
  font-size: 40px;
  text-shadow: 2px 3px 3px black;
}

.btn-start {
  text-align: center;
  background-color: #dedede;
  position: relative;
  top: 46.5%;
  left: 5px;
  display: block;
  margin: 0 auto;
  /*left: 50%;
  margin-top: 29%;
  transform: translateX(-50%);*/
  color: #444142;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 26px;
  padding: 10px 5%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-start:hover {
  background-color: var(--secondary);
  transition: background-color 150ms linear;
}

/*Index page content*/
.cnt-1 {
  margin-top: 120px;
  margin-right: 40px;
  min-height: 130%;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.panel-separator {
  background-color: var(--primary);
  width: 2px;
  height: 90vh;
  position: relative;
  float: right;
  margin: 0 20px;
}
.cnt-1 .left-panel {
  position: absolute;
  float: left;
  width: 35%;
  height: 100px;
}
.cnt-1 .left-panel .product-filters {
  position: absolute;
  left: 22%;
  top: 40px;
  width: 70%;
}
.cnt-1 .left-panel .product-filters .drpdown {
  margin: 20px 0;
}
.cnt-1 .left-panel .product-filters .drpdown .select {
  width: 80%;
}
.cnt-1 .left-panel .product-filters .drpdown .menu-open {
  background-color: transparent;
}
.cnt-1 .left-panel .product-filters .drpdown .rating li {
  padding: 0 2%;
  margin: 0;
}
.selected-plus {
  font-weight: bold;
  font-size: 26px;
  opacity: 0.7;
}
.cnt-1 .right-panel {
  width: 65%;
  position: relative;
  float: right;
}

/*Dropdown styling*/
.drpdown * {
  box-sizing: border-box;
}
.select {
  width: 250px;
  padding: 0.5em 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s linear;
}
.caret-rotate {
  transform: rotate(180deg);
}
.drpdown-menu {
  position: relative;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: all 0.5s linear;
  width: 250px;
  padding: 10px 5px;
}
.drpdown-menu li {
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 15px;
}
.drpdown-menu li:hover {
  background-color: var(--secondary);
  transition: background-color 0.2s linear;
}
.active {
  background-color: var(--secondary);
  border-radius: 5px;
}
.menu-open {
  display: block;
  opacity: 1;
  background-color: var(--white);
  margin: 5px 0;
  border-radius: 10px;
}
.drpdown-filter {
  position: absolute;
  right: 0;
}
/**/

/*Price Slider*/
.price {
  width: 85%;
  margin: 20px 0;
}
.price-input {
  width: 100%;
  height: 21px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.price-input .field {
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
}
.price-input .field input {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: center;
  /*margin-left: 12px;*/
  border: none;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: var(--primary);
  opacity: 0.9;
  -moz-appearance: textfield !important;
}
.price-input .field span {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: var(--primary);
  opacity: 0.9;
}
/*Retirar setas do input field*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
/**/
.price-input .separator {
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  opacity: 0.9;
  font-weight: bold;
  margin-right: 10px;
}
.slider {
  height: 2px;
  border-radius: 5px;
  background-color: #989395;

  position: relative;
  margin-top: 35px;
}
.slider .progress {
  height: 3px;
  left: 20%;
  right: 20%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--secondary);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -3px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none !important;
}
input[type="range"]::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none !important;
  background-color: var(--white);
  border: 3px solid var(--secondary);
}
input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none !important;
  background: var(--secondary);
  border: none;
}

/**/
/*Grid Display*/
.product-grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2.5%;
  grid-row-gap: 15px;
  justify-content: center;
  transition: all 0.5s linear;
}
.product-grid .product-box {
  /*background-color: var(--primary);*/
}

/*Product Box Style*/
.product-box {
  padding: 15px 20px;
}
.product-box ul li {
  /*color: var(--primary);*/
  font-family: "Open Sans", sans-serif;
}
.product-box .product-img {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 6px;
  background-image: url(../../assets/img/productCover.jpg);
  background-size: cover;
  background-position: center center;
}
.product-box .product-img i {
  color: var(--white);
  position: relative;
  float: right;
  padding: 10px;
  font-size: 23px;
  cursor: pointer;
}
.product-box .product-img i.fav-toggle {
  color: #ff2727;
  transition: all 0.2s linear;
}
.product-box .product-infoL {
  position: absolute;
  margin-top: 10px;
}
.product-box .product-infoL li {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
}
.product-box .product-infoL .product-title {
  padding: 3px 0;
  padding-bottom: 4px;
  font-size: 24px;
  opacity: 1;
}
.product-box .product-infoR {
  position: relative;
  float: right;
  margin-top: 16px;
}
.product-box .product-infoR .product-genre {
  text-align: right;
  margin-bottom: 6px;
  opacity: 0.8;
  font-size: 18px;
}
.rating {
  display: flex;
  flex-direction: row;
}
.rating li {
  font-size: 18px;
}
.rating li i {
  font-size: 18px;
}
.product-box .product-cart {
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
}
.product-box .product-cart li {
  font-size: 22px;
  opacity: 0.85;
  font-weight: bold;
}
.product-box .product-cart li i {
  font-size: 35px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  bottom: 5px;
}
/**/

/* Login/SignUp */
.login-popup{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(68, 65, 66);
  z-index: 9999;
}
.login-container {
  border: 20px solid #f1d0d2;
  border-width: 20px;
  border-radius: 50px;
  width: 45% !important;
  transition: all 0.5s linear;
}

.login-logo {
  width: 280px;
  height: auto;
}

.login-entrar {
  text-align: left !important;
  margin-left: 10% !important;
}

.login-naoSabes {
  display: flex !important;
  margin-left: 8% !important;
  text-decoration: underline;
  color: var(--primary) !important;
}

.login-naoSabes:hover {
  opacity: 70%;
}

.login-btn,
.signup-btn {
  width: 80%;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: var(--primary) !important;
  display: flex !important;
  margin: auto !important;
  text-align: center !important;
  font-weight: bold !important;
  font-size: large !important;
  align-content: center !important;
  justify-content: center !important;
}

.login-btn:hover {
  opacity: 70%;
}

.signup-btn {
  background-color: var(--white) !important;
  border-width: 4px !important;
}

.signup-btn:hover {
  opacity: 70%;
}

.login-form {
  width: 80% !important;
}

.login-divider {
  color: var(--primary) !important;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex-grow: 1;
  background-color: var(--primary);
  opacity: 80%;
  height: 2px;
  margin: 5%;
}

.login-divider span {
  font-weight: bold;
  color: var(--primary);
  opacity: 80%;
  text-transform: uppercase;
}
.login-container h1 {
  color: var(--primary) !important;
}

.login-container h5 {
  color: var(--primary) !important;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  font-weight: lighter !important;
}

.login-container p {
  color: var(--primary) !important;
  opacity: 80%;
  font-weight: bold;
}

.login-container label {
  color: var(--primary) !important;
  opacity: 50%;
}

.login-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/**/

@media (max-width: 1280px) {
  header {
    padding: 14px 10px;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 15px;
  }

  /*Grid Display*/
  .product-grid {
    grid-template-columns: 45% 45%;
    grid-gap: 5%;
    grid-row-gap: 30px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block !important;
  }
  .btn1 {
    display: none !important;
  }
  .navbar {
    position: absolute !important;
    left: initial !important;
    top: 100% !important;
    right: -100% !important;
    width: 270px !important;
    padding: 10px 0 !important;
    background-color: var(--primary) !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    border-radius: 10px !important;
    transition: all 0.5s ease !important;
  }
  .navbar a {
    display: block !important;
    color: var(--white) !important;
    margin: 19px 0px !important;
    padding: 0px 25px !important;
    transition: all 0.5s ease !important;
    text-align: center !important;
  }
  .navbar .resp {
    display: block !important;
    padding: 7px 0 !important;
    margin: 10px auto !important;
    width: 200px !important;
    border: 4px solid var(--secondary) !important;
  }
  .navbar a:hover::before {
    width: 0 !important;
  }
  .navbar.open {
    right: 2% !important;
  }

  /*Começo*/
  .giro {
    font-size: 47px !important;
  }
  .motto {
    font-size: 30px !important;
  }
  .btn-start {
    font-size: 23px !important;
  }

  /**/
  /*Login Signup*/

  .login-container {
    width: 80% !important;
  }

  .login-logo {
    width: 250px !important;
  }
}
@media (max-width: 860px) {
  /*Grid Display*/
  .product-grid {
    grid-template-columns: 80%;
  }
}

/* Profile */

.profile-img {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto !important;
  margin-top: 5% !important;
  opacity: 75%;
}

.profile-img:hover {
  opacity: 70%;
}

.profile-icon-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile-icon {
  width: 40%;
  height: auto;
  color: var(--primary);
}

.profile-icon:hover {
  opacity: 70%;
}

.profile-edit-btn {
  width: 40%;
  height: 40px;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: var(--primary) !important;
  display: flex !important;
  margin: auto !important;
  margin-bottom: 5% !important;
  text-align: center !important;
  font-weight: bold !important;
  font-size: large !important;
  align-content: center !important;
  justify-content: center !important;
}

.profile-edit-btn:hover {
  opacity: 70%;
}


